.title{
   font-size:40pt;
    font-weight:bold;
    text-transform: uppercase;
}

.list{
    margin-top: 10;
    margin-bottom: 10;
}

.container{
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
    height: 300;
}
