<StackLayout #container class="container">
    <Label text="Details" class="title"></Label>
    <ListView [items]="detailList" >
        <ng-template let-item="item" >
            <StackLayout orientation="horizontal" class="item" >
                <Label [text]="item.title + ':'"  class="name"></Label>
                <Label [text]="item.value" class="value"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <Button text="logout" class="submit-button" (tap)="logout()"></Button>
</StackLayout>
